
.section__intro {
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.3)), url("../images/hero_1.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}


.section__intro .section__intro__title {
    font-size: 50px;
    color: white;
    font-family: oswald;
    font-weight: 100;
}
.section__intro .section__intro__title p {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: kanit;
}
.section__intro .section__intro__title p a {
    font-size: 22px;
    color: white;
    font-family: kanit;
    text-decoration: underline;
    

    
}

.section__intro .section__intro__title span {
    font-family: kanit-bold;
}

/* section2 starts here ////////////////////////// */
.section1 .section1-wrapper{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.section1 .section1-wrapper h4{
 color: rgb(248, 146, 29);
 font-size: 22px;
 font-family: oswald;
}
.section1 .section1-wrapper h3{
    font-size: 32px;
    font-family: oswald;
   }
.team-boxes{
    padding-top: 45px;
    gap: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.team-boxes .team-box{
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.team-boxes .team-box img{
    width: 100%;
    padding-bottom: 20px;
}
.team-boxes .team-box h5{
    color: rgb(248, 146, 29);
    font-family: oswald;
    font-size: 18px;
}
.team-boxes .team-box h2{
    font-family: oswald;
    font-size: 26px;
}

@media (max-width: 1200px) {

   
}

@media (max-width: 992px) {
  
    .team-boxes .team-box{
        width: 48%;
    }
   

}
@media (max-width: 790px) {
  
    .team-boxes .team-box{
        width: 90%;
    }
   

}


/* section3 */
/* SECTION-2 CSS STYLES START HERE /////////////////////////////////////////////////////////////////////////////////// */

.section2 .title-wrapper {
    display: flex;
    padding: 40px 0 90px 0;
    margin: 40px 0 90px 0;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.section2 .title-wrapper h5 {
    color: rgb(248, 146, 29);
    font-size: 22px;

}

.section2 .section2__title {
    width: 58%;
    font-size: 40px;
    text-align: center;

}

.section2 .section2__title span {
    font-family: kanit-bold;

}

.section2__box-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.section2__box-wrapper .section2__box {
    width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
}

.section2__box-wrapper .section2__box i {
    padding-bottom: 13px;
    font-size: 60px;
    margin-left: 8px;
}

.section2__box-wrapper .section2__box h2 {
    font-family: oswald;

}

.icon-wrapper {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: -1;

    border-width: 60px 60px 0 0;
    border-color: rgb(248, 146, 29) transparent transparent transparent;

}

@media (max-width: 1200px) {

    .section2 .section2__title {
        font-size: 30px;

    }
}

@media (max-width: 992px) {
    .section2 .section2__title {
        font-size: 25px;

    }

}

/* SECTION-3 /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section3 {
    color: white;
    padding-bottom: 70px;
    background-color: rgb(9, 22, 42);
}

.section3 .section3__content-wrapper {
    width: 100%;
    padding: 50px 0 60px 20px;
    display: flex;
}

.section3 .container .section3__image__side {
    width: 47%;
    height: 30px;
    position: relative;
    object-fit: contain;
    bottom: 100px;

}

.section3 .section3__image__side img {
    object-fit: contain;
    position: absolute;
    width: 100%;
}

.section3 .container .info-wrapper {
    display: flex;
    width: 100%;
    padding-top: 45px;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.section3 .container .info-wrapper li {
    gap: 20px;
    display: flex;
}

.section3 .container .info-wrapper li i {
    font-size: 45px;
    padding-top: 5px;
    color: rgb(248, 146, 29);
}

.section3 .container .info-wrapper li .info__description {
    padding-left: 10px;

}

.section3 .container .info-wrapper li .info__description a {
    font-size: 20px;
    color: white;
}

.section3 .container .info-wrapper li .info__description p {
    /* color: rgba(0, 0, 0, 0.72); */
}

.section3__description__side {
    width: 50%;
    gap: 11px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 70px;
}

.section3__description__side h4 {
    color: rgb(248, 146, 29);
    font-size: 20px;
}

.section3__description__side h2 {
    font-size: 33px;
    width: 90%;
}

.section3__description__side h2 span {
    font-family: oswald;
}

.section3__description__side .description__title {
    font-size: 20px;
    padding-top: 27px;
    width: 90%;
    color: rgb(173, 159, 159);
}

@media (max-width: 1200px) {

    .section3 {

        padding-bottom: 30px;
    }

    .section3 .section3__content-wrapper {
        padding: 20px 0 30px 20px;
    }

    .section3__description__side .description__title {
        padding-top: 0px;
    }

    .section3 .container .info-wrapper {
        padding-top: 10px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .section3 .container .section3__image__side {
        display: none;
    }

    .section3 .section3__content-wrapper {
        justify-content: center;

    }

    .section3__description__side {
        width: 100%;
        gap: 30px;
    }

    .section3 .container .info-wrapper {
        padding-top: 20px;
        gap: 39px;
    }
}