/* INTRODUCTION-SECTION */

.section__intro {
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.3)), url("../images/hero_1.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__intro .section__intro__btn {
    background-color: rgba(255, 255, 255, 0.568);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    font-size: 25px;
}

.section__intro .section__intro__title {
    font-size: 50px;
    color: white;
    font-family: kanit;
}

.section__intro .section__intro__title span {
    font-family: kanit-bold;
}

@media (max-width: 1200px) {
    .section__intro .section__intro__title {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .section__intro .section__intro__btn {
        display: none;
    }

    .section__intro {
        justify-content: center;
    }

    .section__intro .section__intro__title {
        font-size: 35px;
    }

}

@media (max-width: 768px) {
    .section__intro .section__intro__title {
        font-size: 27px;
    }
}

/* SECTION-2 CSS STYLES START HERE /////////////////////////////////////////////////////////////////////////////////// */

.section2 .title-wrapper {
    display: flex;
    padding: 40px 0 90px 0;
    margin: 40px 0 90px 0;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.section2 .title-wrapper h5 {
    color: rgb(248, 146, 29);
    font-size: 22px;

}

.section2 .section2__title {
    width: 58%;
    font-size: 40px;
    text-align: center;

}

.section2 .section2__title span {
    font-family: kanit-bold;

}

.section2__box-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.section2__box-wrapper .section2__box {
    width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
}

.section2__box-wrapper .section2__box i {
    padding-bottom: 13px;
    font-size: 60px;
    margin-left: 8px;
}

.section2__box-wrapper .section2__box h2 {
    font-family: oswald;

}

.icon-wrapper {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    z-index: -1;

    border-width: 60px 60px 0 0;
    border-color: rgb(248, 146, 29) transparent transparent transparent;

}

@media (max-width: 1200px) {

    .section2 .section2__title {
        font-size: 30px;

    }
}

@media (max-width: 992px) {
    .section2 .section2__title {
        font-size: 25px;

    }

}

/* SECTION-3 /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.section3 {
    color: white;
    padding-bottom: 70px;
    background-color: rgb(9, 22, 42);
}

.section3 .section3__content-wrapper {
    width: 100%;
    padding: 50px 0 60px 20px;
    display: flex;
}

.section3 .container .section3__image__side {
    width: 47%;
    height: 30px;
    position: relative;
    object-fit: contain;
    bottom: 100px;

}

.section3 .section3__image__side img {
    object-fit: contain;
    position: absolute;
    width: 100%;
}

.section3 .container .info-wrapper {
    display: flex;
    width: 100%;
    padding-top: 45px;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.section3 .container .info-wrapper li {
    gap: 20px;
    display: flex;
}

.section3 .container .info-wrapper li i {
    font-size: 45px;
    padding-top: 5px;
    color: rgb(248, 146, 29);
}
.section3 .container .info-wrapper li .info__description{
    padding-left: 10px;

}
.section3 .container .info-wrapper li .info__description a {
    font-size: 20px;
    color: white;
}

.section3 .container .info-wrapper li .info__description p {
    /* color: rgba(0, 0, 0, 0.72); */
}

.section3__description__side {
    width: 50%;
    gap: 11px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 70px;
}

.section3__description__side h4 {
    color: rgb(248, 146, 29);
    font-size: 20px;
}

.section3__description__side h2 {
    font-size: 33px;
    width: 90%;
}

.section3__description__side h2 span{
    font-family: oswald;
}

.section3__description__side .description__title {
    font-size: 20px;
    padding-top: 27px;
    width: 90%;
    color: rgb(173, 159, 159);
}
@media (max-width: 1200px) {

    .section3 {

        padding-bottom: 30px;
    }
    
    .section3 .section3__content-wrapper {
        padding: 20px 0 30px 20px;
    }
    .section3__description__side .description__title {
        padding-top: 0px;
    }
    .section3 .container .info-wrapper {
        padding-top: 10px;
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .section3 .container .section3__image__side {
       display: none;
    }

    .section3 .section3__content-wrapper {
       justify-content: center;
         
    }
    .section3__description__side {
        width: 100%;
        gap: 30px;
    }
    .section3 .container .info-wrapper {
        padding-top: 20px;
        gap: 40px;
    }
}

/* SECTION-4 CSS STYLES /////////////////////////////////////////////////////////////////////////////////////////////////*/
.section4 .container{
    align-items: normal;
}
.section4 .container .section4__form-wrapper{
    color: white;
    margin: 110px 20px 70px 0;
    width: 55%;
    background-color: black;
    padding: 50px;
  
}
.section4 .container .section4__form-wrapper h4{
    color: rgb(248, 146, 29);
    font-size: 20px;
    text-transform: uppercase;

}
.section4 .container .section4__form-wrapper h2{
font-size: 31px;
font-family: oswald;
}
.section4 .container .section4__form-wrapper h2 span{
    font-family: oswald-bold;
    }
.section4 .container .section4__form-wrapper form{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.section4 .container .section4__form-wrapper form input{
    background-color: black;
    border: none;
    border-bottom: 2px solid grey;
    height: 60px;
    font-size: 20px;
    color: white;
    padding-bottom: 0px;
    padding-top: 30px;
   width: 43%;
}
.section4 .container .section4__form-wrapper form textarea{
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border-bottom: 2px solid rgb(86, 78, 78);
    height: 250px;
    padding-bottom: 0px;
    padding-top: 30px;
   width: 43%;
   font-size:20px ;
}

.section4 .container .section4__form-wrapper form input::placeholder{
   color: white;
   font-size: 20px;
   padding-top: 20px;
   padding-bottom: 0px;
 }
 .section4 .container .section4__form-wrapper form textarea::placeholder{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .section4__form-wrapper .form__btn__submit{
    height: 40px;
    display: flex;
    align-self: flex-end;
    width: 40%;
    background-color: rgb(248, 146, 29);
    text-align: center;
    align-items: center;
    font-family: oswald;
    text-transform: uppercase;
    border: none;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 16px;
    color: white;
  }
  .section4__img-wrapper{
    width: 34%;
    align-items: flex-end;
display: flex;
  }
  .section4__img-wrapper img{
    width: 100%;
    object-fit: contain;
  }
  @media (max-width: 1200px) {
    .section4 .container .section4__form-wrapper{
        margin: 30px 20px 30px 0;
        width: 50%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;      
    }
    .section4 .container .section4__form-wrapper form input{
        background-color: black;
        border: none;
        border-bottom: 2px solid grey;
        height: 60px;
        padding-bottom: 0px;
        padding-top: 30px;
       width: 70%;
    }
    .section4 .container .section4__form-wrapper form textarea{
      
        height: 100px;
        
    }
   
}

@media (max-width: 992px) {
    .section4__img-wrapper{
        display: none;
    }
    .section4 .container{
        justify-content: center;
    }
    .section4 .container .section4__form-wrapper{
        margin: 30px 20px 30px 0;
        width: 65%;
           
    }
   
}
@media (max-width: 768px) {
    .section4 .container .section4__form-wrapper{
        margin: 30px 20px 30px 0;
        width: 80%;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;      
    }
    .section4__form-wrapper .form__btn__submit{
        font-size: 12px;
    }
   
}

/* SECTION-5 CSS STYLES STARTS HERE  ///////////////////////////////////////////////////////////////////////////////////// */

.section5{
    height: 87vh;
    padding-top: 70px;
    background-color: rgb(9, 22, 42);
    color: white;
}
.section5__projects {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.section5__projects h4{
    font-size: 20px;

color: rgb(248, 146, 29);
text-transform: uppercase;
}
.section5__projects h2{
    font-size: 27px;
}
.section5__projects h2 span{
    font-family: kanit-bold;
}

.section5__projects .projects__image-wrapper{
    display: flex;
    position: absolute;
    gap: 30px;
    margin-top: 70px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 70px;

}
.section5__projects .projects__image-wrapper .project-box__image-wrapper{
    width: 26%;
    height: fit-content;
}
.section5__projects .projects__image-wrapper .project-box__image-wrapper img{

    width: 100%;
}



@media (max-width: 1200px) {

   
}

@media (max-width: 992px) {
    .section5__projects .projects__image-wrapper .project-box__image-wrapper{
        width: 32%;
        height: fit-content;
    }
    .section5__projects .projects__image-wrapper{
       justify-content: center;
    
    }
    .section5__projects .projects__image-wrapper .box3{
        display: none;
    }
    .section5__projects{
        align-items: center;
    }
  
   
}
@media (max-width: 768px) {
    .section5__projects .projects__image-wrapper .box2{
        display: none;
    }
    .section5__projects .projects__image-wrapper .project-box__image-wrapper{
        width: 40%;
        height: fit-content;
    }
    .section5{
        padding-top: 30px;

    }
    .section5__projects {
        margin-top: 10px;
    }
   
}
@media (max-width:710px) {

    .section5__projects .projects__image-wrapper .project-box__image-wrapper{
        width: 50%;
        height: fit-content;
    }
   
}
@media (max-width:568px) {

    .section5__projects .projects__image-wrapper .project-box__image-wrapper{
        width: 60%;
        height: fit-content;
    }
   
}



/* section6  */
.section6{
  height: 100vh;
}
