/* INTRODUCTION-SECTION */

.section__intro {
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.3)), url("../images/hero_1.jpg");
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__intro .section__intro__btn {
    background-color: rgba(255, 255, 255, 0.568);
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    font-size: 25px;
}

.section__intro .section__intro__title {
    font-size: 50px;
    color: white;
    font-family: kanit;
}

.section__intro .section__intro__title span {
    font-family: kanit-bold;
}

@media (max-width: 1200px) {
    .section__intro .section__intro__title {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .section__intro .section__intro__btn {
        display: none;
    }

    .section__intro {
        justify-content: center;
    }

    .section__intro .section__intro__title {
        font-size: 35px;
    }

}

@media (max-width: 768px) {
    .section__intro .section__intro__title {
        font-size: 27px;
    }
}

/* SECTION-2 */

.section2 .title-wrapper {
    display: flex;
    padding: 40px 0 70px 0;
    margin: 40px 0  60px 0;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.section2 .title-wrapper h5 {
   color:  rgb(248,146,29);
   font-size: 22px;

}

.section2 .section2__title {
    width: 58%;
    font-size: 40px;
    text-align: center;

}
.section2 .section2__title span {
   font-family: kanit-bold;

}

.section2__box-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.section2__box-wrapper .section2__box {
    width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
}

.section2__box-wrapper .section2__box i {
    padding-bottom: 13px;
    font-size: 60px;
    margin-left: 8px;
}
.section2__box-wrapper .section2__box h2{
    font-family: oswald;

}
.icon-wrapper{
 position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: -1;

        border-width: 60px 60px 0 0;
        border-color: rgb(248,146,29) transparent transparent transparent;
    
}
@media (max-width: 1200px) {
   
.section2 .section2__title {
    font-size: 30px;

}
}

@media (max-width: 992px) {
    .section2 .section2__title {
        font-size: 25px;
    
    }

}